:root{
    background-color: black;
}

.container {
    display: flex;
    margin: 0 auto;
    padding:2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

#startPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

h1{
    font-size: 7rem;
    color: White;
}

.btn{
    font-size: 2.5rem;
    padding:2rem 0;
    width: 20rem;
    max-width: 20rem;
    text-align:center;
    background-color: navy;
    color: white;
    margin-bottom: 1rem;
    text-decoration: none;
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 midnightblue;
    transition: transform 150ms;
    transform: scale(1.05);
}